<div id="cv-experiences">
  <cv-section>
    <cv-section-title>getIndustrialExperiences</cv-section-title>
    <cv-section-description>Stuff I do during daytime</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Dec 2016 - Present, Software Engineer @ Facebook Ads<br/>Dynamic Language Optimisation<small> // <i>Makes your ads speak more languages</i></small></h4>
          <p class="cv-feature-tags">
            <span class="badge badge-blue">Machine Learning</span>
            <span class="badge badge-blue">Language Detection</span>
            <span class="badge badge-blue">Dynamic Budget Optimisation</span>
          </p>
          <ul class="cv-section-list-minor">
            <li>Sprint planning and system design</li>
          </ul>
        </li>
        <li>
          <h4>Apr 2013 - Nov 2016, Lead Engineer @ Accenture <br/>Accenture Reformx<small> // <i>Brings software development workflow to trading platforms</i></small></h4>
          <p class="cv-feature-tags">
            <span class="badge badge-green">Version Control</span>
            <span class="badge badge-green">Issue Tracking</span>
            <span class="badge badge-green">Automated Testing</span>
            <span class="badge badge-green">Automated Deployment</span>
          </p>
          <ul class="cv-section-list-minor">
            <li>Sprint planning and system design</li>
            <li>Communication with clients and interpreting business requirements</li>
            <li>Researching related domains and promoting boundary pushing changes</li>
            <li>Designed a high performance analysis engine that generates dependency networks from trading platform data snapshots</li>
            <li>Designed a dependency checking engine (based on analysis engine) that auto-corrects a ranging spectrum of user errors and verifies build integrity</li>
            <li>Designed a domain specific memory cache that boosts the overall performance of the product by >80%</li>
            <li>Planned and led multiple architecture level changes driving the project through its prototype and POC stages before it became a technology leading and hot selling product in the market</li>
          </ul>
        </li>
        <li>
          <h4>Sept 2012 - Apr 2013, Software Engineer @ Accenture <br/>Accenture CalMon<small> // <i>Saves your trading platform from unexpected downtimes</i></small></h4>
          <p class="cv-feature-tags">
            <span class="badge badge-purple">Downtime Alert</span>
            <span class="badge badge-purple">Performance Analysis</span>
            <span class="badge badge-purple">Event Logging</span>
            <span class="badge badge-purple">System Diagnosis</span>
          </p>
          <ul class="cv-section-list-minor">
            <li>Participated in the development of a comprehensive trading platform monitoring tool.</li>
          </ul>
        </li>
        <li>
          <h4>Apr 2011 - Sept 2011 (Software Engineer Internship)<br/>Formicary Software R&D Project</h4>
          <ul class="cv-section-list-minor">
            <li>Researched in topic "Real Time Complex Event Processing"</li>
            <li>Developed a trading bot prototype using Esper real-time event processing engine</li>
          </ul>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>