<div id="cv-education">
  <cv-section>
    <cv-section-title>getEducation</cv-section-title>
    <cv-section-description>Schools I have been to</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Oct 2008 - Jun 2012<br/>Imperial College, London</h4>
          <p>
            Computer Science MEng high 2-1 honoured degree<br/>
            1<sup>st</sup> in final year project: business process modeling based on propositional logic
          </p>
        </li>
        <li>
          <h4>Sept 2006 - Jun 2008<br/>Queen Ethelburga's College, York</h4>
          <p>
            GCE A-Level<br/>
            A* in Math, Further Math and Physics<br/>
            A in Accounting
          </p>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>