<div id="cv-experiences">
  <cv-section>
    <cv-section-title>getIndustrialExperiences</cv-section-title>
    <cv-section-description>Stuff I do during the daytime</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Apr 2013 - Present (Project Lead Engineer)<br/>Accenture Reformx<small> // <i>Brings software development concepts to trading platforms</i></small></h4>
          <p class="cv-feature-tags">
            <span class="badge badge-green">Version Control</span>
            <span class="badge badge-green">Issue Tracking</span>
            <span class="badge badge-green">Automated Testing</span>
            <span class="badge badge-green">Automated Deployment</span>
          </p>
          <ul class="cv-section-list-minor">
            <li>Sprint planning and system design</li>
            <li>Communication with clients and interpreting business requirements</li>
            <li>Research in the related domains and promote boundary pushing changes</li>
            <li>Designed a high performance analysis engine that generates dependency networks from trading platform data snapshots</li>
            <li>Designed a dependency checking engine (based on analysis engine) that auto-corrects a ranging spectrum of user errors and verifies build integrity</li>
            <li>Designed a domain specific memory cache that boosts the overall performance of the product by >80%</li>
            <li>Planned and led multiple architecture level changes driving the project through its prototype and POC stages before it became a hot selling product in the market</li>
          </ul>
        </li>
        <li>
          <h4>Sept 2012 - Apr 2013 (Software Engineer)<br/>Accenture CalMon<small> // <i>Saves your trading platform from unexpected downtimes</i></small></h4>
          <p class="cv-feature-tags">
            <span class="badge badge-blue">Performance Tracking</span>
            <span class="badge badge-blue">System Debug</span>
            <span class="badge badge-blue">Trend Analysis</span>
            <span class="badge badge-blue">Capacity Planning</span>
          </p>
          <ul class="cv-section-list-minor">
            <li>Developed a multi-metric graph feature that aggregates different system health aspects for trend analysis</li>
            <li>Developed a domain specific search feature optimised for debugging and system log analysis</li>
            <li>Developed a trading platform simulator for demo and development purposes</li>
          </ul>
        </li>
        <li>
          <h4>Apr 2011 - Sept 2011 (Software Engineer Internship)<br/>Formicary Software R&D Project</h4>
          <ul class="cv-section-list-minor">
            <li>Researched in topic "Real Time Complex Event Processing"</li>
            <li>Developed an algo-trading engine prototype based on Esper technology</li>
            <li>Developed a compiler that transforms algo-trading logic into Esper EPL (Event Processing Language)</li>
          </ul>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>