<div id="cv-hobbies">
  <cv-section>
    <cv-section-title>getHobbies</cv-section-title>
    <cv-section-description>Stuff that I'm not doing well enough to be paid</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Making programs/scripts to automate video games (Bots)</h4>
          <ul class="cv-section-list-minor">
            <li>Pokémon Go (API + Scripts) - 2016</li>
            <li>Lies of Astaroth (API + Scripts) - 2014</li>
            <li>Diablo 3 (Scripts based on Importal API) - 2012</li>
            <li>StoneAge (Scripts based on StoneWalker API) - 2008</li>
          </ul>
        </li>
        <li>
          <h4>Others</h4>
          <p>
            <span class="badge badge-orange">E-Sports</span>
            <span class="badge badge-orange">PC Modding</span>
            <span class="badge badge-orange">Photography</span>
            <span class="badge badge-orange">Table Tennis</span>
            <span class="badge badge-orange">All sorts of board games</span>
            <span class="badge badge-orange">All sorts of card games</span>
            <span class="badge badge-orange">Party Planning</span>
          </p>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>