<div id="cv-hobbies">
  <cv-section>
    <cv-section-title>getHobbies</cv-section-title>
    <cv-section-description>Stuff that I don't do well enough to get paid for</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Competitive</h4>
          <p>
            <span class="badge badge-purple">Dota</span>
            <span class="badge badge-purple">StarCraft</span>
            <span class="badge badge-purple">Basketball</span>
            <span class="badge badge-purple">Table Tennis</span>
            <span class="badge badge-purple">Chess</span>
            <span class="badge badge-purple">All sorts of Poker Games</span>
          </p>
        </li>
        <li>
          <h4>Relaxing</h4>
          <p>
            <span class="badge badge-orange">PC Building & Overclocking</span>
            <span class="badge badge-orange">Website & Blog Design</span>
            <span class="badge badge-orange">Writing Bots for Games</span>
          </p>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>