<div id="cv-projects">
  <cv-section>
    <cv-section-title>getSideProjects</cv-section-title>
    <cv-section-description>Stuff I do at nights</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Jul 2014 - Present<br/>ParallelGit<small> // <i>A high performance in-memory filesystem for Git</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>An open source project available to the public under Apache License v2</li>
            <li>An in-memory filesystem that implements Java JDK7 NIO.2 interface</li>
            <li>Boosting Git performance by running tree & blob operations in memory</li>
            <li>Key features:
              <ul>
                <li>Instant checkout: load an arbitrary branch/commit into memory</li>
                <li>Simplified I/O: browse and manipulate Git contents via FileSystem API</li>
                <li>Instant commit: commit changes directly from memory</li>
                <li>Merging and resolving conflicts in memory</li>
              </ul>
            </li>
            <li>Integrated into Accenture Reformx <small>(see above)</small> to provide fast and reliable access to its internal Git repository</li>
          </ul>
          <p><small><i>(Visit <a href="https://www.github.com/beijunyi/parallelgit">https://www.github.com/beijunyi/parallelgit</a> for more details)</i></small></p>
        </li>
        <li>
          <h4>Jun 2009 - May 2010<br/>Archangel Online<small> // <i>MMORPG Startup</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>Re-developed popular Asian MMORPG <a href="https://zh.wikipedia.org/wiki/%E7%9F%B3%E5%99%A8%E6%97%B6%E4%BB%A3_(%E6%B8%B8%E6%88%8F)">StoneAge Online</a></li>
            <li>Added puzzle solving elements to the traditional "battle to level up" reward system to enhance the player experience</li>
            <li>Designed 2 original stories, >15 side missions and hundreds of new items</li>
            <li>Attracted >8000 registered accounts (average Friday night head count >500)</li>
            <li>Business sold to 09sa (now part of <a href="http://sa.cins.cn">cins.cn</a>) in 2010. The original stories are still being played and liked today</li>
          </ul>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>