<div id="cv-projects">
  <cv-section>
    <cv-section-title>getSideProjects</cv-section-title>
    <cv-section-description>Stuff I do at nights</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Jul 2014 - Present<br/>ParallelGit<small> // <i>A High performance in memory file system for Git</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>A Java NIO.2 FileSystem Implementation</li>
            <li>Instant checkout: load an arbitrary commit into memory</li>
            <li>Simplified I/O: browse and manipulate Git contents using Java FileSystem API</li>
            <li>Instant commit: commit changes directly from memory</li>
            <li>Merging and resolving conflicts in memory</li>
            <li>Used by several web based revision control systems including Formicary Reformx</li>
          </ul>
          <p><small><i>(Visit <a href="https://www.github.com/beijunyi/parallelgit">https://www.github.com/beijunyi/parallelgit</a> for more details)</i></small></p>
        </li>
        <li>
          <h4>Jun 2009 - May 2010<br/>Archangel Online<small> // <i>MMORPG Startup</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>Re-developed popular Asian MMORPG <a href="https://zh.wikipedia.org/wiki/%E7%9F%B3%E5%99%A8%E6%97%B6%E4%BB%A3_(%E6%B8%B8%E6%88%8F)">StoneAge Online</a></li>
            <li>Developed a puzzle solving based reward system</li>
            <li>Designed 2 major story lines with >30 side missions</li>
            <li>Attracted >8000 registered accounts (average Friday night head count >500)</li>
            <li>Business sold to <a href="http://sa.cins.cn">cins.cn</a> in 2010. The reward system and the story lines are still being used and liked today</li>
          </ul>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>