<div id="cv-projects">
  <cv-section>
    <cv-section-title>getSideProjects</cv-section-title>
    <cv-section-description>Stuff I do at nights</cv-section-description>
    <cv-section-body>
      <ul class="cv-section-list-major">
        <li>
          <h4>Mar 2017 - Present<br/>Aaron<small> // <i>Just another trading bot in crypto-currency market</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>Teamed up with 4 others from top technology and banking companies</li>
            <li>Apart from real-time trading, the system also supports back-testing and paper trading, which are critical for trading strategy research and development</li>
            <li>Performance highlights: >99% uptime since the first version launched in May 2017, >5800% profit by Dec 2017</li>
          </ul>
        </li>
        <li>
          <h4>Jul 2014 - Apr 2017<br/>ParallelGit<small> // <i>A high performance in-memory filesystem for Git</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>An open source project available to the public under Apache License v2</li>
            <li>An in-memory filesystem that implements Java JDK7 NIO.2 interface</li>
            <li>Key features:
              <ul>
                <li>Instant checkout: load an arbitrary branch/commit into memory</li>
                <li>Simplified I/O: browse and update Git contents via FileSystem API</li>
                <li>Instant commit: commit changes directly from memory</li>
                <li>Merging and resolving conflicts in memory</li>
              </ul>
            </li>
            <li>Integrated into Accenture Reformx <small>(see above)</small> to provide fast and reliable access to its internal Git repository</li>
          </ul>
        </li>
        <li>
          <h4>Jun 2009 - May 2010<br/>Archangel Online<small> // <i>An MMORPG Startup</i></small></h4>
          <ul class="cv-section-list-minor">
            <li>Developed an extension of popular Asian MMORPG <a href="https://zh.wikipedia.org/wiki/%E7%9F%B3%E5%99%A8%E6%97%B6%E4%BB%A3_(%E6%B8%B8%E6%88%8F)">StoneAge Online</a></li>
            <li>The new storylines and balanced battle system attracted >8000 registered accounts before sold</li>
          </ul>
        </li>
      </ul>
    </cv-section-body>
  </cv-section>
</div>