<div id="cv-main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-11">
            <div id="cv-basic">
              basic
            </div>
            <div id="cv-skills">
              skills
            </div>
          </div>
          <div class="hidden-xs col-md1">
            |
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="cv-experience">
          experience
        </div>
        <div id="cv-hobbies">
          hobbies
        </div>
      </div>
    </div>
  </div>
</div>