<div id="cv-main">
  <div class="container">
    <div class="row">
      <div id="cv-left" class="col-xs-12 col-md-5">
        <div id="cv-contacts">
          <cv-header>
            <cv-header-name>Junyi Bei</cv-header-name>
            <cv-header-email>beijunyi+cv@gmail.com</cv-header-email>
          </cv-header>
        </div>
        <div id="cv-education">
          <cv-section>
            <cv-section-title>getBasicInfo</cv-section-title>
            <cv-section-description>stuff that prepared me</cv-section-description>
            <cv-section-body></cv-section-body>
          </cv-section>
        </div>
        <div id="cv-skills">
          <cv-section>
            <cv-section-title>getSkills</cv-section-title>
            <cv-section-description></cv-section-description>
            <cv-section-body></cv-section-body>
          </cv-section>
        </div>
      </div>
      <div id="cv-right" class="col-xs-12 col-md-7">
        <div id="cv-experience">
          experience
        </div>
        <div id="cv-hobbies">
          hobbies
        </div>
      </div>
    </div>
  </div>
</div>