<div id="cv-main" ng-controller="CvCtrl">
  <div class="row">
      <div id="cv-left">
        <div id="cv-contacts">
          <cv-header>
            <cv-header-name>Junyi Bei</cv-header-name>
            <cv-header-email>beijunyi<span class="sneaky">+cv</span>@gmail.com</cv-header-email>
            <cv-header-phone ng-switch="phone != null" style="white-space: normal">
              <span ng-switch-when="true">{{phone | decode | phone | hash : secretHash : '(checksum error)'}}</span>
              <a ng-switch-default class="text-danger" ng-click="revealSecret()"><em>Please contact via E-Mail</em></a>
            </cv-header-phone>
            <cv-header-description>The profile of a London based SWE.</cv-header-description>
          </cv-header>
        </div>
        <div id="cv-education">
          <cv-section>
            <cv-section-title>getEducation</cv-section-title>
            <cv-section-description>Schools I have been to</cv-section-description>
            <cv-section-body>
              <ul>
                <li>
                  <h4>Imperial College London (2008-2012)</h4>
                  <p>
                    MEng <strong>high 2-1</strong> honoured degree<br/>
                    <strong>1st</strong> in final year project: BPMP, a compiler that converts business process models into propositional logic for validation and optimisation.
                  </p>
                </li>
                <li>
                  <h4>Queen Ethelburga's College (2006-2007)</h4>
                  <p>
                    GCE A-Level<br/>
                    <strong>A+</strong> in Math, Further Math and Physics<br/>
                    <strong>A</strong> in Accounting
                  </p>
                </li>
              </ul>
            </cv-section-body>
          </cv-section>
        </div>
        <div id="cv-skills">
          <cv-section>
            <cv-section-title>getSkills</cv-section-title>
            <cv-section-description>Stuff I do</cv-section-description>
            <cv-section-body>
              <ul>
                <li>
                  <h4>Back End</h4>
                  <p>
                    <span class="badge badge-orange">Java</span>
                    <span class="badge badge-orange">JSP</span>
                    <span class="badge badge-orange">Spring Framework</span>
                    <span class="badge badge-orange">Spring Security</span>
                    <span class="badge badge-orange">Hibernate</span>
                    <span class="badge badge-orange">Elasticsearch</span>
                    <span class="badge badge-orange">RESTful</span>
                  </p>
                </li>
                <li>
                  <h4>Front End</h4>
                  <p>
                    <span class="badge badge-purple">JavaScript</span>
                    <span class="badge badge-purple">HTML</span>
                    <span class="badge badge-purple">CSS</span>
                    <span class="badge badge-purple">AngularJS</span>
                    <span class="badge badge-purple">Bootstrap</span>
                    <span class="badge badge-purple">JQuery</span>
                    <span class="badge badge-purple">ExtJS</span>
                  </p>
                </li>
                <li>
                  <h4>Concepts & Processes</h4>
                  <p>
                    <span class="badge badge-blue">Agile Programming</span>
                    <span class="badge badge-blue">Test Driven Development</span>
                    <span class="badge badge-blue">Reverse Engineering</span>
                    <span class="badge badge-blue">Data Structures</span>
                    <span class="badge badge-blue">Algorithms</span>
                  </p>
                </li>
                <li>
                  <h4>Others</h4>
                  <p>
                    <span class="badge badge-green">Git</span>
                    <span class="badge badge-green">Maven</span>
                    <span class="badge badge-green">SQL</span>
                    <span class="badge badge-green">XML</span>
                    <span class="badge badge-green">Tomcat</span>
                    <span class="badge badge-green">Jetty</span>
                    <span class="badge badge-green">Apache</span>
                    <span class="badge badge-green">Windows</span>
                    <span class="badge badge-green">Linux</span>
                    <span class="badge badge-green">MS Paint</span>
                  </p>
                </li>
              </ul>
            </cv-section-body>
          </cv-section>
        </div>
      </div>
      <div id="cv-separator">
      </div>
      <div id="cv-right">
        <div id="cv-experiences">
          <cv-section>
            <cv-section-title>getWorkExperiences</cv-section-title>
            <cv-section-description>Stuff I have done</cv-section-description>
            <cv-section-body>
              <ul>
                <li><h4>Reformx</h4></li>
                <li><h4>CalMon</h4></li>
              </ul>
            </cv-section-body>
          </cv-section>
        </div>
        <div id="cv-projects">
          <cv-section>
            <cv-section-title>getSideProjects</cv-section-title>
            <cv-section-description>Because I can</cv-section-description>
            <cv-section-body>
              <ul>
                <li>
                  <h4>ParallelGit</h4>
                  <p>High performance NIO in memory file system for Git based Java application.</p>
                </li>
              </ul>
            </cv-section-body>
          </cv-section>
        </div>
        <div id="cv-hobbies">
          <cv-section>
            <cv-section-title>getHobbies</cv-section-title>
            <cv-section-description>Stuff I enjoy doing for free</cv-section-description>
            <cv-section-body></cv-section-body>
          </cv-section>
        </div>
      </div>
    </div>
</div>