<div id="cv-nav" ng-class="{'nav-show': hoverNavZone}" ng-controller="NavCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top" ng-mouseover="enterNavZone()" ng-mouseleave="leaveNavZone()">
    <div class="container">
      <div class="navbar-header">
        <a id="cv-nav-brand" class="navbar-brand" href="https://beijunyi.github.io"><img src="resources/icons/icon_64x64.png">beijunyi.github.io</a>
      </div>
      <ul class="nav navbar-nav">
        <li ng-repeat="page in pages" ng-class="{active: page.isActive()}">
          <a ng-click="page.activate()">
            <span>
              <span class="glyphicons glyphicons-{{page.icon}}"></span>
              {{page.name}}
            </span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-click="togglePrinterVersion()" id="cv-printer-view">
            <span class="glyphicons glyphicons-print"></span>
            Print me
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="nav-placeholder"></div>
  <div id="nav-detect-enter" ng-mouseenter="enterNavZone()"></div>
</div>