<div id="cv-nav" ng-controller="NavCtrl">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li ng-repeat="page in pages" ng-class="{active: page.isActive()}">
          <a ng-click="page.activate()">
            <span>
              <span class="glyphicons glyphicons-{{page.icon}}"></span>
              {{page.name}}
            </span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="artifacts/Junyi Bei - 15 Aug 2016.pdf" download>
            <span class="glyphicons glyphicons-floppy-save"></span>
            Download PDF
          </a>
        </li>
        <li>
          <a ng-click="print()">
            <span class="glyphicons glyphicons-print"></span>
            Print page
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>