#cv-nav-brand {
  padding: 0 15px;
}

#cv-nav-brand>img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

/* global */
body {
  background-color: #eeeeee;
}
pre {
  color: inherit;
}
[ng-cloak] {
  display: none;
}
[ng-click] {
  cursor: pointer;
}
.mono {
  font-family: Consolas, monospace;
}
.sneaky {
  color: transparent;
  letter-spacing: -7px;
}

/* navbar */
.navbar-fixed-top {
  border: 0;
  transition: all 0.2s linear;
}
.printer-view .navbar-fixed-top {
  margin-top: -50px;
  opacity: 0;
}
.printer-view .nav-show .navbar-fixed-top {
  margin-top: 0;
  opacity: 0.85;
}
#nav-placeholder {
  width: 100%;
  height: 50px;
  transition: height 0.2s linear;
}
.printer-view #nav-placeholder {
  height: 0;
}
#nav-detect-enter {
  top: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  display: none;
}
.printer-view #nav-detect-enter {
  display: block;
}
.printer-view #cv-printer-view {
  color: #fff;
  background-color: #080808;
}
.navbar .glyphicons {
  font-size: 30px;
  margin: -6px 4px -6px 0;
}
.dropdown {
  cursor: pointer;
}

/* cv-main */
#cv-main {
  margin-top: 50px;
}

/* cv-contacts */
#cv-contacts {
  color: #258527;
  font-weight: 600;
}

/* cv-section */
.cv-section-brace {
  font-size: 45px;
  display: inline-block;
  line-height: 50px;
  letter-spacing: -1px;
  color: #333;
}
.cv-section-title-text {
  font-size: 25px;
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
}
.cv-section-title-text-main {
  margin-top: -15px;
  color: #B87ACC;
  margin-right: -8px;
}
.cv-section-title-text-decoration {
  margin-top: -20px;
  color: #7AB7CC;;
}
.cv-section-description {
  padding-left: 20px;
  color: #888;
  letter-spacing: -0.2px;
}

#cv-left {
  border-right: 1px solid red;
}