#cv-nav-brand {
  padding: 0 15px;
}

#cv-nav-brand>img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

#cv-main {
  text-align: center;
}

/* global */
[ng-cloak] {
  display: none;
}
[ng-click] {
  cursor: pointer;
}

/* navbar */
.navbar-fixed-top {
  border: 0;
  transition: all 0.1s linear;
}
.printer-view .navbar-fixed-top {
  margin-top: -50px;
  opacity: 0;
}
.printer-view .nav-show .navbar-fixed-top {
  margin-top: 0;
  opacity: 0.9;
}
#nav-placeholder {
  width: 100%;
  height: 50px;
  transition: height 0.2s linear;
}
.printer-view #nav-placeholder {
  height: 0;
}
#nav-detect-enter {
  position: fixed;
  width: 100%;
  height: 50px;
  display: none;
}
.printer-view #nav-detect-enter {
  display: block;
}
.dropdown {
  cursor: pointer;
}
