body {
  padding-top: 50px;
}

#cv-nav-brand {
  padding: 0 15px;
}

#cv-nav-brand>img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

#cv-main {
  padding: 40px 15px;
  text-align: center;
}

[ng-cloak] {
  display: none;
}

.navbar-fixed-top {
  border: 0;
}
.dropdown {
  cursor: pointer;
}
