@page {
  size: 1170px 1612px;
  margin: 0;
}

body {
  -webkit-print-color-adjust: exact;
}

.container {
  width: 1170px;
}

#cv-nav {
  display: none;
}

.cv-screen-only {
  display: none !important;
}

.cv-print-only {
  display: inherit !important;
}