#cv-nav-brand {
  padding: 0 15px;
}

#cv-nav-brand>img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

/* global */
body {
  background-color: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}
pre {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
}
pre .sneaky {
  color: transparent;
  letter-spacing: -9px;
}
p {
  font-size: 15px;
}
small {
  font-size: 13px;
}
[ng-cloak] {
  display: none;
}
[ng-click] {
  cursor: pointer;
}
.glyphicons:before {
  padding: 0;
}
.row {
  margin: 0;
}
.row>div {
  float: left;
  position: relative;
}
.mono {
  font-family: Consolas, monospace;
}
.badge {
  font-size: 11px;
}
.badge-blue {
  background-color: #D8E6EB;
  color: #6A97A6;
}
.badge-green {
  background-color: #DAEDDE;
  color: #6AA675;
}
.badge-orange {
  background-color: #F7E3D5;
  color: #E09763;
}
.badge-purple {
  background-color: #EFCEF5;
  color: #B071BD;
}


/* navbar */
.navbar-static-top {
  border: 0;
  margin-bottom: 0;
}
.navbar .glyphicons {
  font-size: 26px;
  margin: -4px 4px -4px 0;
}
.dropdown {
  cursor: pointer;
}

#cv-container div[ng-view]>div {
  min-height: 1560px;
  padding: 40px 50px 0;
  background: #ffffff;
}

/* cv-contacts */
#cv-contacts {
  color: #258527;
  font-weight: 600;
  line-height: 18px;
  font-size: 16px;
}

/* cv-section */
.cv-section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cv-section-brace {
  font-size: 45px;
  display: inline-block;
  line-height: 50px;
  letter-spacing: -1px;
  color: #333;
}
.cv-section-title-text {
  font-size: 25px;
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
}
.cv-section-title-text-main {
  margin-top: -15px;
  color: #B87ACC;
  margin-right: -8px;
}
.cv-section-title-text-decoration {
  margin-top: -20px;
  color: #7AB7CC;;
}
.cv-section-description {
  padding-left: 20px;
  color: #888;
  letter-spacing: -0.4px;
}
ul.cv-section-list-major {
  padding-left: 30px;
}
ul.cv-section-list-major>li {
  display: block;
  font-size: 16px;
}
#cv-left ul.cv-section-list-major>li:not(:last-child) {
  margin-bottom: 20px;
}
#cv-right ul.cv-section-list-major>li:not(:last-child) {
  margin-bottom: 25px;
}
ul.cv-section-list-major>li:before {
  font-family: 'Glyphicons Regular', monospace;
  font-size: 24px;
  float: left;
  margin-top: -10px;
  margin-left: -50px;
  color: #888;
}
ul.cv-section-list-major>li>h4 {
  margin-left: -15px;
  margin-bottom: 5px;
}
ul.cv-section-list-major>li>h4>small {
  font-size: 13px;
}
ul.cv-section-list-minor {
  margin-left: -40px;
  margin-right: -10px;
  list-style-type: disc;
  margin-bottom: 5px;
}
ul.cv-section-list-minor>li {
  padding-left: 10px;
  font-size: 15px;
}

/* cv-left */
#cv-left {
  width: 40%;
  padding-left: 20px
}
#cv-education ul.cv-section-list-major>li:before {
  content: "\e501";
}
#cv-skills ul.cv-section-list-major>li:before {
  content: "\e281";
}
#cv-hobbies ul.cv-section-list-major>li:before {
  content: "\e315";
}

/* cv-separator */
#cv-separator {
  width: 8%;
}
#cv-separator:before {
  content: "";
  display: block;
  margin: 100px auto;
  width: 3px;
  height: 1250px;
  border: 2px solid #cccccc;
}

/* cv-right */
#cv-right {
  width: 52%;
}
#cv-experiences ul.cv-section-list-major>li:before {
  content: "\e232";
}
#cv-projects ul.cv-section-list-major>li:before {
  content: "\e231";
}
.cv-feature-tags:before {
  content: "// Highlights:";
  margin-left: -58px;
  display: inline-block;
  color: #888;
  font-style: italic;
  font-size: 13px;
}

#footer {
  white-space: nowrap;
  background: #fff;
  padding-bottom: 10px;
}

.cv-print-only {
  display: none;
}