html {
  overflow-y: scroll;
}

pre {
  padding: 10px 20px;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 900px;
}
.container .jumbotron {
  padding: 40px 30px;
}


.glyphicon,
.fa {
  margin-right: 7px;
  margin-left: -2px;
}

.tab-pre .nav-tabs {
  border-bottom: none;
  margin-left: 10px;
}
.tab-pre .nav-tabs>li>a {
  padding: 3px 10px;
}
.tab-pre .nav-tabs>li.active>a {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}





/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}